.grid-container{
    display: grid;
    grid-template-columns: 170px 200px 200px;
    grid-template-rows: 75px 150px 150px 75px;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item{
    margin: 1px;
    background-color: rgb(183, 183, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 4;
    background: linear-gradient(to right,rgb(141, 123, 225), rgb(130, 115, 198));
}
.item2{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(99, 234, 234);
}
.item3{
    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start: 2;
    grid-row-end:2;
    background: linear-gradient(135deg ,rgb(146, 102, 250),rgb(7, 133, 236) 70%,cyan )
}
.item4{
    background: linear-gradient(135deg ,rgb(146, 102, 250),rgb(7, 133, 236) 70%,cyan )
}
.item5{
    background: linear-gradient(135deg ,rgb(146, 102, 250),rgb(7, 133, 236) 70%,cyan )
}
.item6{
    grid-column-start: 1;
    grid-column-end: 4;
    background: linear-gradient(to right,rgb(141, 123, 225), rgb(130, 115, 198));
}